@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  font-family: 'poppins',sans-serif;
}

html{
    font-size: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


h2{
    font-size: 1.6rem;
    color: #0e7785;
    text-align: center;
}



form {
    padding: 1rem;
    width:30vw;
    height: 55vh;
    position: absolute;
    justify-content: center;
    margin-top: 8%;
    background: transparent;
    align-items: center;
    border: 0.15rem solid rgba(255,255,255,0.5);
    backdrop-filter: blur(0.2rem);
    border-radius: 1rem;
    justify-content: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
  }


  .inputbox{
    position: relative;
    margin-top: 4vh;
    width: 28vw;
    border-bottom: 0.1875em solid #fff;
  }
  .inputbox label{
    position: absolute;
    top: 3vh;
    left: 1vw;
    transform: translateY(-50%);
    color: #383737;
    font-size: 1.2rem;
    pointer-events: none;
    transition: .5s;
  }
  .inputbox input {
    width: 28vw;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding:0 1rem 0 1rem;
    color: #333030;
  }
  input:focus ~ label,
  input:valid ~ label{
  top: -0.6rem;
  }

  .inputbox ion-icon{
    position: absolute;
    right: 1vw;
    color: #160c0c;
    font-size: 1.2rem;
    top: 2vh;
  }

  .col input{
    border: none;
    border-bottom: 0.0625rem solid #ccc;
    background: transparent;
    outline: none;
    height: 6.5vh;
    color: #555;
  }

  input[type="email"],
  input[type="password"] {
    display: block;
    width: 10vw;
    /* padding: 10rem 1rem; */
    margin-bottom: 0.4vw;
    border: none;
    border-bottom: 0.125rem solid #ccc;
    font-size: 0.5rem;
  }

  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-color: #1E90FF;
  }

  .btn{
    margin-top: 1rem;
    border-radius: .1rem;
    background: #0e7785;
    color: #292222;
    padding: .8rem 9.4rem;
    cursor: pointer;
    font-size: 1.3rem;
    align-self: center;
   }

  .btn:disabled {
    background-color: lightgray;
    color: #000;
    cursor: default;
    opacity: 0.5;
  }

