<!-- classrooms.component.html -->
<body>
<div class="container">
  <h2>Classrooms Allocated</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Classroom ID</th>
        <th>Capacity</th>
        <th>Requirement</th>
        <th>Subjects</th>
        <th>Language Requirement</th>
        <th>Location</th>
        <th>Volunteers</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classroom of classrooms">
        <td>{{ classroom.classroomID }}</td>
        <td>{{ classroom.capacity }}</td>
        <td>{{ classroom.requirement }}</td>
        <td>{{ classroom.subjects.join(', ') }}</td>
        <td>{{ classroom.languageRequirement.join(', ') }}</td>
        <td>{{ classroom.location }}</td>
        <td>
          <div *ngIf="showTable">
          <ul>

            <!-- IF YOU WANT TO GET NUMBER OF VOLUNTEERS ACCORDING TO THE REQUIREMENT COLUMN,
                  THEN UN-COMMENT LINE 32 - 34 AND COMMENT LINE 36 - 38 AND SAVE AND CHECK THE RESULTS -->

            <!-- <li *ngFor="let volunteer of getLimitedVolunteers(classroom.volunteers, classroom.requirement)">
              {{ volunteer.name }} ({{ volunteer.languages.join(', ') }})
            </li> -->

            <li *ngFor="let volunteer of classroom.volunteers">
              {{ volunteer.name }} ({{ volunteer.languages.join(', ') }})
            </li>

          </ul>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
